body{
    background-image: url("backimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar-nav a:hover{
    color: #3498db !important;
    background-color: #34495e;
    
}

.links a:hover{

color:rgb(252, 181, 4);
background-color: rgba(33, 150, 243, 0.1) !important;
}

.loginLink a:hover{
    color:rgb(252, 181, 4);
    background-color: rgba(33, 150, 243, 0.1) !important;
}

.create a:hover{
    background-color:rgba(33, 150, 243, 0.1) !important;
    font-size: 20px;
}