
.navbar-nav a:hover{
    color: #3498db !important;
    background-color: #34495e;
    
}

.links a:hover{

color:rgb(252, 181, 4);
background-color: #34495e;
}

.loginLink a:hover{
    background-color: #34495e;
}